# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAIW6CwGaaigOoLlULKdUjCs9Wg_-am6EU
VITE_FIREBASE_AUTH_DOMAIN=panna-portfolio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=panna-portfolio
VITE_FIREBASE_STORAGE_BUCKET=panna-portfolio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=908822152646
VITE_FIREBASE_APP_ID=1:908822152646:web:898e68333dfe8557a49ec7
VITE_FIREBASE_MEASUREMENT_ID=G-YKXF5L2LL3

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=c7zelcwg
VITE_CLOUDINARY_UPLOAD_PRESET=portfolio_unsigned
